body {
  text-align: center;
}
.Credit {
  opacity: 0.5;
}
.Credit:hover {
  opacity: 1;
}
.Content {
  display: block;
  padding: 3px;
  border-radius: 5px;
  width: 50%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
